@import reset

html, body
  background: #000
  color: #ccc

button
  font-weight: bold
  color: hotpink

.app-bar
  display: flex
  padding: 0 0.5rem
  height: 3rem
  align-items: center

  .user
    margin-left: auto
    height: 100%
    display: flex
    align-items: center
    img
      width: auto
      height: calc(100% - 1rem)
      border-radius: 100%
      margin: 0 0.5rem

.add-number
  display: flex
  input
    flex: 1
  input[type="date"]
    flex: 8rem 0

.number-list > div
  display: flex
  button
    margin-left: auto
  .remove
    color: #f77

.number-list > div, .add-number
  padding: 0.25rem 0.5rem
  border-bottom: 1px solid rgba(127, 127, 127, 0.5)
