@import reset

html, body
  background: #000
  color: #ccc

button
  font-weight: bold

$theme: #e65d84

.app-bar
  display: flex
  padding: 0 0.5rem
  height: 3rem
  align-items: center

  .user
    margin-left: auto
    height: 100%
    display: flex
    align-items: center
    img
      width: auto
      height: calc(100% - 1rem)
      border-radius: 100%
      margin: 0 0.5rem

.add-number
  display: flex

  input
    flex: 1
  input[type="date"]
    flex: 8rem 0
    color: #fff

  input + .actions
    position: fixed
    bottom: 0
    right: 0
    z-index: 1
    display: flex
    .add, .reader
      align-items: center
      justify-content: center
      width: 5rem
      height: 5rem
      margin: 1rem
      border-radius: 20rem
      &:before
        align-self: center
        font-size: 250%
        font-weight: bold
    .reader
      background-color: #777
      &:before
        content: '📷'
      &.active
        background-color: $theme

  input
    + .actions .add
      background-color: $theme
    &:not(:focus) + .actions .add:before
      content: '+'
    &:focus
      + .actions .add:before
        content: '✓'
      &[value=""] + .actions .add
        background-color: #777

.reader
  position: relative
  video
    width: 100%
  .aim
    position: absolute
    top: 15%
    left: 7%
    right: 7%
    height: 20%
    border: 7px dashed #77e65d84

.number-list > div
  display: flex
  font-family: monospace
  .match
    font-size: 200%
    color: hotpink
  button
    margin-left: auto
  .remove
    color: #f77

.number-list > div, .add-number
  padding: 0.25rem 0.5rem
  border-bottom: 1px solid rgba(127, 127, 127, 0.5)
