.inputs
  position: fixed
  bottom: 0
  width: 100%

.number-input
  margin: 1rem 0
  padding: 0.2rem
  text-align: center
  input
    width: 13rem
    background: #222
    font-size: 2rem
    text-align: right

.date-selection
  margin-top: 1px
  > *
    display: flex
    justify-content: center

.modes
  flex: 1
  label
    display: block
    padding: 0.5rem
    span
      display: block
      font-size: 1rem
      opacity: 0.7

.date-selection, .modes
  display: flex
  > *
    font-size: 1.2rem
    flex: 1
    background: #222
    transition: background 0.5s ease
    &.active
      background: darken($theme, 10%)
    + *
      margin-left: 1px

.match-result
  text-align: center
